<div id="{{ codename }}" class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-random"></i> {{ heading_title }} {{ text_heading_info }}</h3>
	</div>
	<div class="panel-body">
		<ul class="nav nav-tabs stores">
			{% for store in stores %}
            <li><a class="nav-store" href="#{{ codename }}_store_{{ store['store_id'] }}" data-toggle="tab">{{ store['name'] }} <span class="label label-warning">{{ store['empty_redirects_count'] }}</span></a></li>
            {% endfor %}
        </ul>
		<div class="tab-content">
		{% for store in stores %}
			<div id="{{ codename }}_store_{{ store['store_id'] }}" class="tab-pane">
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<td class="text-center">{{ column_url_from }}</td>
								{% for language in languages %}
								<td class="text-center">{{ column_url_to }}({{ language['code'] }})</td>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% if store['redirects'] %}
							{% set redirect_row = 0 %}
							{% for redirect in store['redirects'] %}
							<tr>
								<td class="redirect-cell text-left">
									<div id="redirect_{{ redirect_row }}_url_from" class="redirect-field" url_redirect_id="{{ redirect['url_redirect_id'] }}" field_code="url_from">
										<span class="text-field">{{ redirect['url_from'] }}</span>
										<input type="text" value="{{ redirect['url_from'] }}" class="input-field form-control hide" />
									</div>
								</td>
								{% for language in languages %}
								<td class="redirect-cell text-left">
									<div id="redirect_{{ redirect_row }}_url_to_{{ language['language_id'] }}" class="redirect-field" url_redirect_id="{{ redirect['url_redirect_id'] }}" store_id="{{ store['store_id'] }}" field_code="url_to_{{ language['language_id'] }}">
										<span class="text-field">{{ redirect['url_to_' ~ language['language_id']] }}</span>
										<input type="text" value="{{ redirect['url_to_' ~ language['language_id']] }}" class="input-field form-control hide" />
									</div>
								</td>	
								{% endfor %}	
							</tr>
							{% set redirect_row = redirect_row + 1 %}
							{% endfor %}
							{% else %}
							<tr>
								<td class="text-center" colspan="{{ languages|length + 1 }}">{{ text_no_results }}</td>
							</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>	
		{% endfor %}
		</div>
	</div>
</div>