{{ header }}
{{ column_left }}
{{ column_right }}
<div class="container">
<ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>


{{categories_text}}

</div>
{{ content_top}}
{{ content_bottom }}
{{ footer }} 


<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://appcelerator.us1.list-manage.com/subscribe/post?u=5712d03019b10d64e62349770&amp;id=763a3fa2c9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe to our mailing list</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group input-group">
    <strong>Axway Developer </strong>
    <ul><li><input type="checkbox" value="16" name="group[375609][16]" id="mce-group[375609]-375609-0"><label for="mce-group[375609]-375609-0">Monthly Newsletter - Mobile Apps</label></li>
<li><input type="checkbox" value="1" name="group[375609][1]" id="mce-group[375609]-375609-1"><label for="mce-group[375609]-375609-1">Mobile Apps - Tech Tips &amp; more</label></li>
<li><input type="checkbox" value="64" name="group[375609][64]" id="mce-group[375609]-375609-2"><label for="mce-group[375609]-375609-2">Monthly Newsletter - APIs</label></li>
<li><input type="checkbox" value="32" name="group[375609][32]" id="mce-group[375609]-375609-3"><label for="mce-group[375609]-375609-3">APIs &amp;amp; Microservices - Tech Tips &amp; more</label></li>
<li><input type="checkbox" value="4" name="group[375609][4]" id="mce-group[375609]-375609-4"><label for="mce-group[375609]-375609-4">Dev Insights</label></li>
<li><input type="checkbox" value="2" name="group[375609][2]" id="mce-group[375609]-375609-5"><label for="mce-group[375609]-375609-5">Industry News – The Week in Mobile</label></li>
<li><input type="checkbox" value="8" name="group[375609][8]" id="mce-group[375609]-375609-6"><label for="mce-group[375609]-375609-6">Promotions &amp; Special Offers</label></li>
</ul>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5712d03019b10d64e62349770_763a3fa2c9" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->



<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://appcelerator.us1.list-manage.com/subscribe/post?u=5712d03019b10d64e62349770&amp;id=763a3fa2c9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<div class="es_caption">Get the latest posts sent directly to your inbox. <br></div>
<div class="mc-field-group">
	<input type="email" value="" name="EMAIL" class="required email" placeholder="Email Address *" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5712d03019b10d64e62349770_763a3fa2c9" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->