{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-redirect-manager" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
      <div class="card-body">
        <form id="form-redirect-manager" action="{{ save }}" method="post" data-oc-toggle="ajax">
          <div class="row mb-3">
            <label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
            <div class="col-sm-10">
              <div class="form-check form-switch form-switch-lg">
                <input type="hidden" name="module_redirect_manager_status" value="0"/>
                <input type="checkbox" name="module_redirect_manager_status" value="1" class="form-check-input" id="input-status"{% if module_redirect_manager_status %} checked{% endif %}/>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-log-status" class="col-sm-2 col-form-label">{{ entry_log_status }}</label>
            <div class="col-sm-10">
              <div class="form-check form-switch form-switch-lg">
                <input type="hidden" name="module_redirect_manager_log_status" value="0"/>
                <input type="checkbox" name="module_redirect_manager_log_status" value="1" class="form-check-input" id="input-log-status"{% if module_redirect_manager_log_status %} checked{% endif %}/>
              </div>
              <div class="form-text">{{ help_log_status }}</div>
            </div>
          </div>
        </form>

        <ul class="nav nav-tabs">
            <li class="nav-item"><a href="#tab-redirect" data-bs-toggle="tab" class="nav-link active">{{ text_list }}</a></li>
            <li class="nav-item"><a href="#tab-404-log" data-bs-toggle="tab" class="nav-link">{{ text_not_found }}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-redirect">
                <div class="text-end mb-3">
                    <a href="{{ import }}" class="btn btn-secondary"><i class="fa-solid fa-upload"></i> {{ button_import }}</a>
                    <a href="{{ export }}" class="btn btn-secondary"><i class="fa-solid fa-download"></i> {{ button_export }}</a>
                    <a href="{{ add }}" class="btn btn-primary"><i class="fa-solid fa-plus"></i> {{ button_add }}</a>
                </div>
                <div id="redirects">{{ list }}</div>
            </div>
            <div class="tab-pane" id="tab-404-log">
                <div class="text-end mb-3">
                    <button type="button" id="button-clear-logs" class="btn btn-danger"><i class="fa-solid fa-eraser"></i> {{ button_clear_logs }}</button>
                </div>
                {{ not_found_list }}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('#button-clear-logs').on('click', function() {
    if (confirm('{{ text_confirm_clear_logs }}')) {
        location = '{{ clear_logs }}';
    }
});
//--></script>
{{ footer }}