{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-category-merger" data-toggle="tooltip" title="{{ button_merge }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_merge_info }}</div>
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-category-merger" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-source-category">{{ text_source }}</label>
            <div class="col-sm-10">
              <select name="source_category_id" id="input-source-category" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for category in categories %}
                <option value="{{ category.category_id }}">{{ category.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-target-category">{{ text_target }}</label>
            <div class="col-sm-10">
              <select name="target_category_id" id="input-target-category" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for category in categories %}
                <option value="{{ category.category_id }}">{{ category.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript"><!--
$('#form-category-merger').on('submit', function() {
  return confirm('{{ text_confirm }}');
});
//--></script>

{{ footer }}
